section {
    padding-block: 6.25rem;

    &.horas {
        background-attachment: fixed;
        background-image: url(../img/section-bg.jpeg);
        background-position: center center;
        background-size: cover;
    }

    .section-title {
        font-size: 2.5rem;
        font-weight: map-get($heading-fw, 'semibold' );
        &.small {
            font-size: 1.625rem;
        }
    }
    
    .section-description {
        font-size: 1.375rem;
        font-weight: map-get($heading-fw, 'thin' );
    }
}